{% load static %}
<!doctype html>
    <html>
        <head>
            <meta charset ="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>To Do List </title>
        </head>
        <body>

        <main>
            <div>
                <h1>My lists</h1>  {% comment %} show "MyLists"
                + table w/ 2 columns: 1. Header "Name" and rows with todoName of todo_list
                2. Header "Number of items" and nothing in rows (){% endcomment %}
                <p><a href="{% url "todo_list_create" %}">Create a new list</a></p>
                
                <table>
                    <thead>
                        <tr>
                            <th>Name</th><th>Number of items</th>
                        </tr>
                    </thead>
                    <tbody>

                   {% for item in todo_list %}
                    <tr>
                        <td>
                            <a href="{% url "todo_list_detail" item.id %}">{{ item.name }}</a>
                        </td>
                        <td>{{ item.items.all|length }}</td>
                    </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
        </body>
        <footer>

            <div></div>
        </footer>

    </html>
